.mat-card {
    margin-top: 250px;
    opacity: 80%;
    margin-left: 300px;
    margin-right: 300px;
}

html,
body {
    padding-top: 20px;
    // background-color: lightcoral;
    background-image: url('https://i.pinimg.com/originals/7a/4f/c4/7a4fc4c1f4f8c22f0e73a524057c106f.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}