<div class="login" >
   <mat-card>
     <mat-card-header>
      <div mat-card-avatar  ></div>
       <mat-card-title class="Login">User Login
       </mat-card-title>
   </mat-card-header>
     <div class="content">
       <mat-card-content  >
          
   
           <mat-form-field appearance="outline" class="label">
             <mat-label>Username</mat-label> 
               <input matInput placeholder="username" type="username" [formControl]="username" >
               <mat-error *ngIf="username.invalid">{{getUserErrorMessage()}}</mat-error>
           </mat-form-field>

           <mat-form-field appearance="outline" class="label">
             <mat-label>Password</mat-label> 
               <input matInput placeholder="password" [type]="hide ? 'text' : 'password'" [formControl]="password">
               <button mat-icon-button matSuffix (click)="hide = !hide" >
                 <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                 </button>
               <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
           </mat-form-field>
         
           <mat-card-actions>
             <button
               mat-raised-button
               color="primary"
               type="submit"
               (click)="onSubmit()"
               
             >
               Login
             </button>
         </mat-card-actions>

         <a  routerLink="/register">Create an Account</a> &nbsp;&nbsp;
         <a routerLink="/passwordupdate">Forgotten Account?</a>
      </mat-card-content>
     </div>
   </mat-card>
 </div>