<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div class="ForgotPasswordMain" fxLayout="column" fxLayoutAlign="space-around center">


        <mat-card>

            <div class="login-text" fxLayout="column" fxLayoutAlign="space-around center">
                <mat-card-header>
                    <!-- <img mat-card-avatar src="https://thumbs.dreamstime.com/z/letter-f-white-background-rainbow-colors-backdrop-ads-related-to-colors-lgbt-community-graphic-sign-124585574.jpg"> -->

                    <mat-card-title>Forgot Password</mat-card-title>
                    <mat-icon matSuffix>person</mat-icon>
                    <!-- <mat-card-subtitle>Forgot Password</mat-card-subtitle> -->

                </mat-card-header>
            </div>




            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <p>{{ errorMessage }}</p>

                    <div>

                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>


                            <input class="email" matInput placeholder="Email" formControlName="emailId" [(ngModel)]=emailId>

                            <mat-icon matSuffix>alternate_email</mat-icon>

                        </mat-form-field>
                    </div>
                    <div>

                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput placeholder="New Password" [type]="hide ? 'password':'text'" formControlName="password">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>

                    </div>
                    <div>

                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>

                            <input matInput placeholder="Confirm Password" formControlName="confirmPassword">
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>

                    </div>



                    <div class="submit1" fxLayout="row" fxLayoutAlign="space-around center">
                        <mat-card-actions><button mat-raised-button [disabled]="!forgotPasswordForm.valid">Submit</button>
                            <!-- <div><a href=sendmail>Forgod Password ?</a></div> -->
                            <br/>
                        </mat-card-actions>
                    </div>

                </div>

            </form>
        </mat-card>
    </div>
</body>

</html>