.forgotPasswordMain {
    text-align: center;
}

.head {
    text-align: center;
}

.emailField {
    padding: 20%;
    box-sizing: border-box;
}

.passwordField {
    padding: 20%;
}

// .card {
//     align: center;
// }

mat-card-header {
    text-align: center;
}

.mat-card {
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 350px;
    opacity: 80%;
    background-color: oldlace;
    width: 400px;
}

html,
body {
    padding-top: 20px;
    // background-color: lightcoral;
    background-image: url('/assets/bg-01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mat-card-title {
    padding-left: 0px;
    font-size: xx-large;
}

// .mat-icon {}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1), 0 1px 3px 0 rgba(0, 0, 0, 1);
}

// ::ng-deep .mat-card {
//     border: 200px;
//     border-radius: 200px;
// }
.fundoo {
    color: white;
    font-size: 300%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.matt-card-actions,
button,
mat-raised-button {
    background-color: cornflowerblue
}

.email {
    width: 300px;
}

.column {
    margin-top: 50px;
}