.emailField {
    text-align: center;
}

h5 {
    color: grey
}

h5 {
    text-align: center
}

.passUpdateMain {
    margin-top: 200px;
}

body {
    padding-top: 5px;
    // background-color: lightcoral;
    background-image: url('/assets/bg-01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mat-card {
    opacity: 80%;
}

mat-raised-button {
    background-color: cornflowerblue
}