<!DOCTYPE html>
<html lang="en">

<body>
    <div class=passUpdateMain fxLayout="column" fxLayoutAlign="space-around center">

        <mat-card>

            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-card-header>
                    <mat-card-title>Account Password recovery </mat-card-title>
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-card-subtitle>Enter your registered email</mat-card-subtitle>
                </mat-card-header>
            </div>
            <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
                <div fxLayout="column" fxLayoutAlign="space-between center">


                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="email" formControlName="emailId">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <button mat-raised-button>Submit</button>
                </div>
            </form>
        </mat-card>

    </div>

</body>

</html>