.login{
background-image: url('/assets/images/portfolio-4.jpg');
 background-color: beige;   
  margin: 0;
  height: 100vh;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-flow: wrap;
  font-style: italic;
  
}
.signout {
  margin-left: auto;
  margin-right: auto;
  margin-left: 130px;
}  
